@import "tailwindcss";

/* General Section Starts */
/* * {
    font-family: Montserrat, Arial, sans-serif;
    color: white;
} */

.loader-icon {
    animation: pulse 1.2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#loader.hidden {
    @apply opacity-0 pointer-events-none;
}

/* Fade transition */
.fade-in {
    @apply opacity-100 transition-opacity duration-500 ease-in-out;
}

.fade-out {
    @apply opacity-0;
}

.js {
    background: url('img/javascript.png');
    background-position: center;
    background-size: cover;
    height: 24px;
    width: 24px;
    display: inline-block;
}

.html {
    background: url('img/html-5.png');
    background-position: center;
    background-size: cover;
    height: 24px;
    width: 24px;
    display: inline-block;
}

.css {
    background: url('img/css3.png');
    background-position: center;
    background-size: cover;
    height: 24px;
    width: 24px;
    display: inline-block;
}

.fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add support for animation delays */
.animate-delay-75 {
    animation-delay: 0.075s;
}

.animate-delay-100 {
    animation-delay: 0.1s;
}

.animate-delay-150 {
    animation-delay: 0.15s;
}

.animate-delay-200 {
    animation-delay: 0.2s;
}

.animate-delay-300 {
    animation-delay: 0.3s;
}

.animate-delay-500 {
    animation-delay: 0.5s;
}

.animate-delay-700 {
    animation-delay: 0.7s;
}

.animate-delay-1000 {
    animation-delay: 1s;
}